<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.vanlaar.bart.topid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity
            android:name=".Activity.InboxActivity"
            android:parentActivityName=".Activity.MainActivity.MainActivity" />
        <activity
            android:name=".Activity.HomescreenActivity"
            android:parentActivityName=".Activity.MainActivity.MainActivity" />
        <activity
            android:name=".Activity.InstellingenActivity"
            android:parentActivityName=".Activity.MainActivity.MainActivity" />
        <activity android:name=".Activity.MakeIdeeActivity" />
        <activity android:name=".Activity.ShowIdeeActivity" />
        <activity android:name=".Activity.ReageerActivity" />
    </application>

</manifest>